---
import Tags from "./Tags.astro";
const projects = [
  {
    img: "/project-images/reading-list.webp",
    tags: [
      "HTML",
      "CSS",
      "Responsive",
      "React",
      "TypeScript",
      "TailwindCSS",
      "Zustand",
    ],
    title: "Lista de Libros",
    description:
      "Agrega tus títulos favoritos a la lista de lectura y elimínalos cuando quieras. Estado global con Zustand. Sincronización entre pestañas y persistencia de datos.",
    demo: "https://reading-list-q.netlify.app/",
    code: "https://github.com/LuisQuiiroz/pruebas-tecnicas/tree/luisquiiroz/pruebas/01-reading-list/luisquiiroz",
  },
  {
    img: "/project-images/edie-homepage.webp",
    tags: ["HTML", "CSS", "Responsive", "Astro", "JavaScript", "TailwindCSS"],
    title: "Edie Homepage",
    description:
      "Página estática y responsiva con HTML y CSS, facilitando la navegación y experiencia del usuario. Reutilización de componentes. El diseño es de devchallenge.io.",
    demo: "https://edie-homepage-q.netlify.app/",
    code: "https://github.com/LuisQuiiroz/edie-homepage",
  },
  {
    img: "/project-images/checkout-page.webp",
    tags: ["HTML", "CSS", "Responsive", "Astro", "TypeScript", "TailwindCSS"],
    title: "Checkot page",
    description:
      "Formulario checkout de un ecommerce. Validación de campos. Añade la cantidad de productos y muestra el costo total de estos. El diseño es de devchallenge.io.",
    demo: "https://checkout-page-q.netlify.app/",
    code: "https://github.com/LuisQuiiroz/checkout-page",
  },
  {
    img: "/project-images/interior-consultant.webp",
    tags: ["HTML", "CSS", "Responsive", "JavaScript"],
    title: "Interior consultant",
    description:
      "Pagina responsiva con HTML y CSS. Simple, minimalista  y agradable a la vista. El diseño es de devchallenge.io.",
    demo: "https://interior-consultant-q.netlify.app/",
    code: "https://github.com/LuisQuiiroz/interior-consultant",
  },
  {
    img: "/project-images/countries.webp",
    tags: ["HTML", "CSS", "Responsive", "React", "NEXT.js", "TailwindCSS"],
    title: "Where in the world?",
    description:
      "Aplicación web que muestra información de los países. Búsqueda por país y por región. Modo oscuro.",
    demo: "https://countries-luisquiiroz.vercel.app/",
    code: "https://github.com/LuisQuiiroz/countries",
  },
  {
    img: "/project-images/ecommerce-page.webp",
    tags: ["HTML", "CSS", "Responsive", "React", "JavaScript", "TailwindCSS"],
    title: "Ecommerce page",
    description:
      "Página de detalles de producto. Carrusel de imágenes. Modal. Diseño responsivo y amigable para el usuario.",
    demo: "https://luisquiiroz.github.io/ecommerce/",
    code: "https://github.com/LuisQuiiroz/ecommerce",
  },
];
---

<section id="proyectos">
  <h2 class="text-6xl px-4 pt-32 pb-16 text-orange-1 font-anton">Proyectos</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    {
      projects.map(({ img, tags, title, description, demo, code }) => (
        <div class="bg-transparent rounded-2xl border-2 border-gray-1 hover:border-white/50 transition duration-300">
          <img class="rounded-t-xl" src={img} alt={title} />
          <div class="p-4">
            <p class="text-white-1 text-2xl font-medium mb-2">{title}</p>
            <p class="text-white-1 text-base mb-6">{description}</p>
            <Tags tags={tags} />
            <div class="grid grid-cols-2 gap-4 mb-2">
              <a
                target="_blank"
                class="text-blue-1 text-center font-medium bg-orange-1 rounded-xl px-4 py-1 border border-orange-1"
                href={demo}
              >
                Demo
              </a>
              <a
                target="_blank"
                class=" text-orange-1 text-center font-medium rounded-xl px-4 py-1 border border-orange-1"
                href={code}
              >
                Code
              </a>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
