---
import Tags from "./Tags.astro";
import Github from "@/components/icons/Github.astro";
import Link from "@/components/icons/Link.astro";
const projects = [
  {
    img: "/project-images/countries.webp",
    tags: [
      "HTML",
      "CSS",
      "Responsive",
      "JavaScript",
      "React",
      "NEXT.js",
      "TailwindCSS",
    ],
    title: "Where in the world? - Descubre información sobre tu país",
    description:
      "Aplicación web que muestra información de cada país. Enrutamiento, donde se muestra más información. Incluye filtros de búsqueda por país y por región. Modo oscuro.",
    demo: "https://countries-luisquiiroz.vercel.app/",
    code: "https://github.com/LuisQuiiroz/countries",
  },
  {
    img: "/project-images/reading-list.webp",
    tags: [
      "HTML",
      "CSS",
      "Responsive",
      "React",
      "TypeScript",
      "TailwindCSS",
      "Zustand",
    ],
    title: "Lista de Libros - Guarda tus títulos favoritos",
    description:
      "Agrega tus títulos favoritos a la lista de lectura y elimínalos cuando quieras. Estado global con Zustand. Sincronización entre pestañas y persistencia de datos.",
    demo: "https://reading-list-q.netlify.app/",
    code: "https://github.com/LuisQuiiroz/pruebas-tecnicas/tree/luisquiiroz/pruebas/01-reading-list/luisquiiroz",
  },
  {
    img: "/project-images/country-quiz.webp",
    tags: ["HTML", "CSS", "JavaScript", "React", "Responsive", "TailwindCSS"],
    title: "Country Quiz - Capitales y países del mundo",
    description:
      "Pon a prueba tus conocimientos al realizar esta prueba sobre los países del mundo. Diseño responsivo y amigable para el usuario.",
    demo: "https://country-quiz-q.netlify.app/",
    code: "https://github.com/LuisQuiiroz/country-quiz",
  },
  {
    img: "/project-images/weather.webp",
    tags: ["HTML", "CSS", "JavaScript", "React", "Responsive", "TailwindCSS"],
    title: "Weather - Información del clima de tu ciudad",
    description:
      "Obtén información sobre el clima de tu ciudad, pronóstico de 5 días. También puedes buscar el clima de diferentes ciudades.",
    demo: "https://weather-q.netlify.app/",
    code: "https://github.com/LuisQuiiroz/weather",
  },
];
---

<section id="proyectos">
  <h2 class="text-6xl px-4 pt-32 pb-16 text-orange-1 font-anton">Proyectos</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    {
      projects.map(({ img, tags, title, description, demo, code }) => (
        <div class="">
          <div class="p-4">
            <p class="text-orange-400 text-2xl font-bold mb-2 text-pretty">
              {title}
            </p>
            <p class="text-white-1 text-lg mb-6 text-pretty">{description}</p>
            <Tags tags={tags} />
            <img class="rounded" src={img} alt={title} />

            <div class="grid grid-cols-2 gap-4 mt-6">
              <a
                target="_blank"
                class="flex items-center justify-center gap-2 text-sm md:text-base text-blue-1 font-bold bg-orange-1 rounded-xl px-4 py-2 border border-orange-1"
                href={demo}
              >
                <Link class="size-5" />
                <span>Web</span>
              </a>
              <a
                target="_blank"
                class="flex items-center justify-center gap-2 text-sm md:text-base text-orange-1 font-medium rounded-xl px-4 py-2 border border-orange-1"
                href={code}
              >
                <Github class="size-5" />
                <span>Código</span>
              </a>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>

<!-- <div
  class="bg-transparent rounded-2xl border-2 border-gray-1 hover:border-white/50 transition duration-300"
>
  <img class="rounded-t-xl" src={img} alt={title} />
  <div class="p-4">
    <p class="text-white-1 text-2xl font-medium mb-2">{title}</p>
    <p class="text-white-1 text-base mb-6">{description}</p>
    <Tags tags={tags} />
    <div class="grid grid-cols-2 gap-4 mb-2">
      <a
        target="_blank"
        class="text-sm md:text-base text-blue-1 text-center font-medium bg-orange-1 rounded-xl px-4 py-1 border border-orange-1"
        href={demo}
      >
        Ir al sitio web
      </a>
      <a
        target="_blank"
        class="text-sm md:text-base text-orange-1 text-center font-medium rounded-xl px-4 py-1 border border-orange-1"
        href={code}
      >
        Ver código fuente
      </a>
    </div>
  </div>
</div> -->
